@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.title{
    font-family: 'Secular One', sans-serif;
    color: whitesmoke;
}
.icones{
    float: right;
}

@media(max-width: 768px)
{
    .button-form{
        width: 100%;
        margin-bottom: 15px;
    }
}

